/* [x] russfeld  */

/* Align text on chapter pages to center */
.chapter p {
  text-align: center !important;
}

/* Fix Font Weights for Lato */
body {
  font-weight: 400;
}
#body h2 {
  font-weight: 700;
  font-size: 2.4rem;
}
#body h3 {
  font-weight: 700;
  font-size: 2.0rem;
}

/* Sidebar Arrows */
#R-sidebar #R-topics ul > li {
  margin-left: 1rem; 
}

/* Sidebar Titles */
#R-sidebar #R-topics ul > li > a b {
  font-weight: 400;
  opacity: 0.5;
}

/* Git Footer */
.git-footer {
  padding: 1px 1em;
  background-color: rgba( 134, 134, 134, .066 ) 
}
.git-footer p {
  margin: 0.5em 0px;
}

/* Theme Version Footer */
.theme-version-footer {
  float: right;
  opacity: 0.25;
}